*.exe
*.suo
*.user
*~
v2/example/lua/*.dll
v2/example/cpp/.vs
v3/example/lua/*.dll
v2tov3/example/*.xlsx
v2/example/csharp/.vs
v2/example/cpp/cpp/Debug
v2/example/csharp/Example/obj
v2/example/csharp/Example/bin
v2/example/cpp/Debug
v3/example/csharp/TabtoyExample/obj
v3/example/csharp/.vs
v3/example/csharp/TabtoyExample/bin
v3/example/java/.gradle
v3/example/java/.idea
v3/example/java/build
v3/example/java/.project
v3/example/java/.settings/org.eclipse.buildship.core.prefs
v3/example/binary/*.bin
*.zip
*.gz
tabtoy
